/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width: 100%;
  min-height: 100%;
}

nav.navbar {
  padding: 0 30px;
  -webkit-box-shadow: 1px 5px 13px 1px lightgrey;
          box-shadow: 1px 5px 13px 1px lightgrey;
  margin-top: -5px;
}

nav.navbar .logo {
  width: 250px;
}

nav.navbar .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: bold;
}

nav.navbar .navbar-nav .nav-item.active {
  background: #ee1d5f;
}

nav.navbar .navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

section.first-section {
  padding: 100px 0;
}

section .container .row .founder-box {
  background: #fff;
  width: 300px;
  margin: auto;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
  border-radius: 15px;
}

section .container .row .founder-box .founder-image {
  width: 250px;
  border-radius: 15px;
}

section .container .row .founder-box .founder-name {
  text-transform: uppercase;
  margin-top: 5px;
}

section .container .row .section-title {
  font-size: 3rem;
  font-weight: bold;
}

section .container .row .section-content {
  font-size: 1.2rem;
}

.section-big-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  text-decoration: underline;
}

#team-section {
  background: #f5f5f5;
  padding: 100px 0;
}

#team-section .custom-container {
  width: 90%;
  margin: auto;
}

#team-section .team-card {
  background: #f5f5f5;
  padding: 15px 20px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 3px lightcoral;
          box-shadow: 0px 2px 3px lightcoral;
}

#team-section .team-card .team-image {
  width: 100%;
  border-radius: 50px;
}

#team-section .team-card .team-title {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: bold;
}

#team-section .team-card .team-designation {
  font-size: 0.8rem;
}

footer {
  background: #272727;
  color: #fff;
  padding: 15px 0;
}

section#breadcrumb {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/round.png");
  width: 100%;
  padding: 100px 0;
}

section#breadcrumb h1.breadcrumb-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}

section#card {
  margin-top: -50px;
  margin-bottom: 75px;
}

section#card .card {
  -webkit-box-shadow: 0px 1px 7px #f06292;
          box-shadow: 0px 1px 7px #f06292;
}

section#card .card-body {
  padding-top: 50px;
  padding-bottom: 50px;
}

section#card .list-group {
  margin-bottom: 50px;
}

section#card .list-group .list-group-item {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

section#card .list-group .active {
  background: #ee1d5f;
  border: #ee1d5f;
  color: #fff;
}

.facility-holder img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
}

.facility-holder .facility-heading {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-color: #ee1d5f;
          text-decoration-color: #ee1d5f;
  margin-bottom: 25px;
}

.facility-holder .facility-description {
  font-size: 1.2rem;
}

#card .container .card .projects {
  margin-bottom: 50px;
}

#card .container .card .projects h3.section-title {
  font-size: 2rem;
  font-weight: bold;
}

#card .container .card .projects p.section-description {
  font-size: 1rem;
}

#card .container .card .projects .project-card {
  padding: 10px 20px;
  border-bottom: 2px solid #ee1d5f;
}

.contact-detail a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.contact-detail a span {
  font-size: 1.2rem;
  margin-right: 10px;
}

h3.contact-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 25px 0;
  color: #ee1d5f;
}

.social-detail a {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}

.social-detail a span {
  font-size: 1.2rem;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */